.report-button{
    background-color: #f5963e;
    color:white;
    border:none;
    border-radius: 10%;
    margin: 10px;
}

.report-button:hover{
    background-color: #c7650a;
}

.button-container{
    display: inline-block;
}