.report-button{
    background-color: #f5963e;
    color:white;
    width:1.5em;
    border:none;
    border-radius: 10%;
    margin: 10px;
}

.report-button:hover{
    background-color: #c7650a;
}

.button-container, .tip{
    display: inline-block;
}

.tip{
    position: relative;
    top:10px;
    height: 1px;
}